<!-- /templates/404.liquid -->

<div class = "text-center">
	<h1 class = "error-page-header">{{ 'general.404.title' | t }}</h1>
	<p class = "error-page-message">{{ 'general.404.subtext_html' | t }}</p>
	<a href="/" class="btn" >{{ 'general.404.button_text' | t }}</a>
</div>