<!-- /templates/page.liquid -->

<div class="grid--full wrapper">
  <div class="grid__item large--two-thirds push--large--one-sixth">
  <h1 class= "page-title text-center wow fadeInUpBig">{{ page.title }}</h1>
  <div class = "wow fadeInUpBig _1">
  <!-- fit guide content begin -->
    <h4 style="text-align: left;">Men's Body Measurements (inches)</h4>
      <table width="100%">
        <tbody>
          <tr style="height: 10px;">
            <td colspan="6" style="height: 10px;"></td>
          </tr>
          <tr style="height: 20px;">
            <td style="height: 20px;"></td>
            <td style="height: 20px;"><strong>S</strong></td>
            <td style="height: 20px;"><strong>M</strong></td>
            <td style="height: 20px;"><strong>L</strong></td>
            <td style="height: 20px;"><strong>XL</strong></td>
            <td style="height: 20px;"><strong>XXL</strong></td>
            <td style="height: 20px;"><strong></strong></td>
          </tr>
          <tr style="height: 20px;">
            <td style="height: 20px;">Chest</td>
            <td style="height: 20px;">34-37</td>
            <td style="height: 20px;">37-40</td>
            <td style="height: 20px;">40-43</td>
            <td style="height: 20px;">43-46</td>
            <td style="height: 20px;">46-48</td>
          </tr>
          <tr style="height: 20px;">
            <td style="height: 20px;">Sleeve (from center back)</td>
            <td style="height: 20px;">33</td>
            <td style="height: 20px;">34</td>
            <td style="height: 20px;">35</td>
            <td style="height: 20px;">36</td>
            <td style="height: 20px;">37</td>
          </tr>
          <tr style="height: 20.875px;">
            <td style="height: 20.875px;">Neck</td>
            <td style="height: 20.875px;">14.15-15</td>
            <td style="height: 20.875px;">15.5-16</td>
            <td style="height: 20.875px;">16.5-17</td>
            <td style="height: 20.875px;">17.5-18</td>
            <td style="height: 20.875px;">18.5-19</td>
          </tr>
          <tr style="height: 20px;">
            <td style="height: 20px;">Waist</td>
            <td style="height: 20px;">28-30</td>
            <td style="height: 20px;">31-33</td>
            <td style="height: 20px;">34-36</td>
            <td style="height: 20px;">37-39</td>
            <td style="height: 20px;">40-42</td>
          </tr>
          <tr style="height: 20px;">
            <td style="height: 20px;">Hip</td>
            <td style="height: 20px;">34-36</td>
            <td style="height: 20px;">37-39</td>
            <td style="height: 20px;">39-43</td>
            <td style="height: 20px;">43-45</td>
            <td style="height: 20px;">45-47</td>
          </tr>
          <tr style="height: 20px;">
            <td style="height: 20px;">Inseam</td>
            <td style="height: 20px;">28-29</td>
            <td style="height: 20px;">30-31</td>
            <td style="height: 20px;">32-33</td>
            <td style="height: 20px;">34-36</td>
            <td style="height: 20px;">37-39</td>
          </tr>
        </tbody>
      </table>

      <!-- Men's tables -->
      <table width="100%" class="small_show medium_show">
        <tbody>
          <tr>
            <td style="text-align: center;" width:="100%">
              <h1 style="margin-top: 30px;">THE HOLDEN FIT</h1>
              <div class="fit-container">
                <img src="//cdn.shopify.com/s/files/1/0015/9582/files/F16_Detail-14.jpg?2949755455770633152" alt="Holden Men's Jacket Fit" />
                <div class="fit-overlay">
                  <p>Our jackets have a tailored fit that moves with you in the backcountry, but can transition to a casual night around town. Not too baggy, not too tight. The only variance you will find in our jacket fit is in the length, some are designed to be shorter or longer to match the intended style and use of the garment.</p>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td style="text-align: center;" width:="100%">
              <h1 style="margin-top: 30px;">PANT FITS</h1>
              <div class="fit-spacer-line"></div>
              <img src="//cdn.shopify.com/s/files/1/0015/9582/files/Skinnyfit_a4b05268-7fe3-4e9c-9047-58da67ae9c61.png?2949755455770633152" alt="Holden Men's Skinny Fit Icon" />
              <p>Slim from top to bottom but still cut for movement, we use a shorter rise and a gusseted crotch for strength. HOLDEN was the first to offer a skinny pant in technical outerwear and we continue to develop the fit year to year.</p>
              <img src="//cdn.shopify.com/s/files/1/0015/9582/files/F16_skinny_Fit.jpg?3258325245929350584" alt="Holden Men's Skinny Fit Pant" />

            </td>
          </tr>
          <tr>
            <td style="text-align: center;" width:="100%">
              <img src="//cdn.shopify.com/s/files/1/0015/9582/files/Relaxed_2143ed39-3950-45c9-bb47-0f2bec9adf1b.png?2949755455770633152" alt="Holden Men's Relaxed Fit Icon" />
              <p>Designed to be comfortable and relaxed, with a roomy rise, a spacious hip and thigh, and cut loose from knee to ankle</p>
              <img src="//cdn.shopify.com/s/files/1/0015/9582/files/F16_Relaxed_Fit.jpg?3258325245929350584" alt="Holden Men's Relaxed Fit Pant" />
            </td>
          </tr>
        </tbody>
      </table>
      <!-- <table width="100%" class="medium_show">
        <tbody>
          <tr>
            <td style="text-align: center;" width:="100%">
              <h1 style="margin-top: 30px;">THE HOLDEN FIT</h1>
              <div class="fit-container">
                <img src="//cdn.shopify.com/s/files/1/0015/9582/files/F16_Detail-14.jpg?2949755455770633152" alt="Holden Men's Jacket Fit" />
                <div class="fit-overlay">
                  <p>Our jackets have a tailored fit that moves with you in the backcountry, but can transition to a casual night around town. Not too baggy, not too tight. The only variance you will find in our jacket fit is in the length, some are designed to be shorter or longer to match the intended style and use of the garment.</p>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td style="text-align: center;" width:="100%">
              <h1 style="margin-top: 30px;">PANT FITS</h1>
              <div class="fit-spacer-line"></div>
            </td>
          </tr>
          <tr>
            <td class="fit-guide" style="text-align: center;" width:="50%">
              <img src="//cdn.shopify.com/s/files/1/0015/9582/files/Skinnyfit_a4b05268-7fe3-4e9c-9047-58da67ae9c61.png?2949755455770633152" alt="Holden Men's Skinny Fit Icon" />
              <p>Slim from top to bottom but still cut for movement, we use a shorter rise and a gusseted crotch for strength. HOLDEN was the first to offer a skinny pant in technical outerwear and we continue to develop the fit year to year.</p>
              <img src="//cdn.shopify.com/s/files/1/0015/9582/files/F16_skinny_Fit.jpg?3258325245929350584" alt="Holden Men's Skinny Fit Pant" />
            </td>
            <td class="fit-guide" style="text-align: center;" width:="50%">
              <img src="//cdn.shopify.com/s/files/1/0015/9582/files/Relaxed_2143ed39-3950-45c9-bb47-0f2bec9adf1b.png?2949755455770633152" alt="Holden Men's Relaxed Fit Icon" />
              <p>Designed to be comfortable and relaxed, with a roomy rise, a spacious hip and thigh, and cut loose from knee to ankle</p>
              <img src="//cdn.shopify.com/s/files/1/0015/9582/files/F16_Relaxed_Fit.jpg?3258325245929350584" alt="Holden Men's Relaxed Fit Pant" />
            </td>
          </tr>
        </tbody>
      </table> -->
      <table width="100%" class="large_show">
        <tbody>
        <tr>
          <td style="text-align: center; width: 50%;" width:="50%">
            <h1 style="margin-top: 30px;">THE HOLDEN FIT</h1>
          </td>
          <td style="text-align: center; width: 50%;" width:="50%">
            <h1 style="margin-top: 30px;">PANT FITS</h1>
            <div class="fit-spacer-line"></div>
          </td>
        </tr>
        <tr>
          <td style="text-align: center; width: 45%;" width:="45%">
            <div class="fit-container">
                <img src="//cdn.shopify.com/s/files/1/0015/9582/files/F16_Detail-14.jpg?2949755455770633152" alt="Holden Men's Jacket Fit" />
                <div class="fit-overlay">
                  <p>Our jackets have a tailored fit that moves with you in the backcountry, but can transition to a casual night around town. Not too baggy, not too tight. The only variance you will find in our jacket fit is in the length, some are designed to be shorter or longer to match the intended style and use of the garment.</p>
                </div>
              </div>
          </td>
          <td style="text-align: center; width: 20%;" width:="20%">
            <img src="//cdn.shopify.com/s/files/1/0015/9582/files/Skinnyfit_a4b05268-7fe3-4e9c-9047-58da67ae9c61.png?2949755455770633152" alt="Holden Men's Skinny Fit Icon" />
            <p>Slim from top to bottom but still cut for movement, we use a shorter rise and a gusseted crotch for strength. HOLDEN was the first to offer a skinny pant in technical outerwear and we continue to develop the fit year to year.</p>
            <img src="//cdn.shopify.com/s/files/1/0015/9582/files/F16_skinny_Fit.jpg?3258325245929350584" alt="Holden Men's Skinny Fit Pant" />
          </td>
          <td style="text-align: center; width: 20%;" width:="20%">
            <img src="//cdn.shopify.com/s/files/1/0015/9582/files/Relaxed_2143ed39-3950-45c9-bb47-0f2bec9adf1b.png?2949755455770633152" alt="Holden Men's Relaxed Fit Icon" />
            <p>Designed to be comfortable and relaxed, with a roomy rise, a spacious hip and thigh, and cut loose from knee to ankle</p>
            <img src="//cdn.shopify.com/s/files/1/0015/9582/files/F16_Relaxed_Fit.jpg?3258325245929350584" alt="Holden Men's Relaxed Fit Pant" />
          </td>
        </tr>



  <!--         <tr>
            <td style="width: 50%;"><img src="//cdn.shopify.com/s/files/1/0015/9582/files/F16_Model_M-Matteson-JKT_Chili-Pepper_front_d63c273e-39ae-4cac-8472-f7a3624b0c80.jpg?v=1473902429" alt="" /></td>
            <td style="width: 50%;"><img src="//cdn.shopify.com/s/files/1/0015/9582/files/F16_Model_M-Matteson-JKT_Ink-Black_front_0cd27b05-b43b-487f-969c-6b4bdd95fb25.jpg?v=1473902423" alt="" /></td>
          </tr>
          <tr>
            <td style="text-align: center;" width:="50%">
              <p>Slimmer athletic build<br />6'0", 170 lbs, Chest: 39.5, Waist: 33, Hips: 37<br /><em>Wearing size large</em></p>
            </td>
            <td style="text-align: center;" width:="50%">
              <p>Stocky athletic build<br />5'10", 165 lbs, Chest: 44, Waist: 32, Hips: 36<br /><em>Wearing size large</em></p>
            </td>
          </tr> -->
        </tbody>
      </table>

<!-- WOMEN'S -->
<p>  </p>
<h4 style="text-align: left;">Women's Body Measurements (inches)</h4>
<div><i></i></div>
  <table width="100%">
    <tbody>
    <tr>
    <td></td>
    <td><strong>XS</strong></td>
    <td><strong>S</strong></td>
    <td><strong>M</strong></td>
    <td><strong>L</strong></td>
    <td><strong>XL</strong></td>
    </tr>
    <tr>
    <td>Chest</td>
    <td>31-33</td>
    <td>33-35</td>
    <td>35-37</td>
    <td>37-39</td>
    <td>39-41</td>
    </tr>
    <tr>
    <td>Sleeve (from center back)</td>
    <td>29</td>
    <td>30</td>
    <td>31</td>
    <td>32</td>
    <td>33</td>
    </tr>
    <tr>
    <td>Neck</td>
    <td>13.5-14</td>
    <td>14.5-15</td>
    <td>15.5-16</td>
    <td>16.5-17</td>
    <td>17.5-18</td>
    </tr>
    <tr>
    <td>Waist</td>
    <td>23-25</td>
    <td>25-27</td>
    <td>27-29</td>
    <td>29-31</td>
    <td>31-33</td>
    </tr>
    <tr>
    <td>Hip</td>
    <td>34-36</td>
    <td>36-38</td>
    <td>37-39</td>
    <td>40-42</td>
    <td>42-44</td>
    </tr>
    <tr>
    <td>Inseam</td>
    <td>29</td>
    <td>30</td>
    <td>31</td>
    <td>32</td>
    <td>33</td>
    </tr>
    </tbody>
  </table>
<br />
     <table width="100%" class="small_show medium_show">
       <tbody>
        <tr>
          <td style="text-align: center;" width:="100%"><img src="//cdn.shopify.com/s/files/1/0015/9582/files/F16_Model_Ws-Moto-JKT_Plaid_front_2509f5af-3b64-48f4-acf5-c74ecee729e9.jpg?v=1473902437" alt="Women's Athletic Build" />
            <p>Athletic build <br />5'8", 135 lbs, Chest: 32D, Waist: 26, Hips: 36<br /><em>Wearing size medium</em></p>
          </td>
        </tr>
        <tr>
          <td style="text-align: center;" width:="100%"><img src="//cdn.shopify.com/s/files/1/0015/9582/files/F16_Model_Ws-Moto-JKT_Heather-Grey-Bone_front_e323a503-7afa-4673-bf47-7e7057723f37.jpg?v=1473902433" alt="Women's Slim Build" />
            <p>Slim build<br />5'8", 130 lbs, Chest: 32C, Waist: 25, Hips: 36<br /><em>Wearing size medium</em></p>
          </td>
        </tr>
       </tbody>
     </table>
     <table width="100%" class="large_show">
       <tbody>
        <tr>
          <td style="width: 50%;"><img src="//cdn.shopify.com/s/files/1/0015/9582/files/F16_Model_Ws-Moto-JKT_Plaid_front_2509f5af-3b64-48f4-acf5-c74ecee729e9.jpg?v=1473902437" alt="Women's Athletic Build" /></td>
          <td style="width: 50%;"><img src="//cdn.shopify.com/s/files/1/0015/9582/files/F16_Model_Ws-Moto-JKT_Heather-Grey-Bone_front_e323a503-7afa-4673-bf47-7e7057723f37.jpg?v=1473902433" alt="Women's Slim Build" /></td>
        </tr>
        <tr>
          <td style="text-align: center;" width:="50%">
            <p>Athletic build <br />5'8", 135 lbs, Chest: 32D, Waist: 26, Hips: 36<br /><em>Wearing size medium</em></p>
          </td>
          <td style="text-align: center;" width:="50%">
            <p>Slim build<br />5'8", 130 lbs, Chest: 32C, Waist: 25, Hips: 36<br /><em>Wearing size medium</em></p>
          </td>
        </tr>
       </tbody>
     </table>
  <!-- fit guide content end -->
    </div>
  </div>
</div>
